<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Password Reset Request</h2>
    <p>Hello,</p>
    <p>You requested a password reset for your account. Please click the link below to reset your password. This link
        will expire in 15 minutes:</p>
    <p><a href="{{resetLink}}" target="_blank">Reset Your Password</a></p>
    <p>If you did not request this, you can ignore this email. No changes have been made to your account.</p>
</body>

</html>