<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome to Insight ERP!</h1>

    <div>
        <p>
            Hi {{name}},
        </p>
        <p>
            Welcome to Insight ERP! We are excited to have you on board. You can now access your account.
            Your username is <strong>{{username}}</strong>.
        </p>
        <p>
            If you have any questions or need help, feel free to reach out to us at
            <a href="mailto:info@codyfingerson.com">info@codyfingerson.com</a>.
        </p>
    </div>
</body>
</html>